:root {
    --accent-text-color:#2196F3;
    --logo-text-color:#000000;
    --title-text-color:#212121;
    --main-text-color:#757575;
    --white-color:#ffffff;
    --button-bcgcolor:#F5F4FA;
    --svg-main-color: #AFB1B8;
}
