
    $primaryTextColor: #757575;
    $titleTextColor: #212121;
    $acentTextColor: #2196f3;
    $witheTextColor: #ffffff;
    $blackTextColor: #000000;

    $heroBackgroundColor: rgba(47, 48, 58, 0.4);

    $acentButtonColor: #188ce8;

    $linkIconColor: #afb1b8;
    $footerIconCcolor: #ffffff;
    $footerIconBgColor: #43444d;
    $linkFooterColor: rgba(255, 255, 255, 0.6);

    $mainPageColor: #ffffff;
    $secondaryPageColor: #f5f4fa;
    $footerColor: #2f303a;