.contact-list {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        flex-direction:row ;
    }

    &__item {
        margin-bottom: 10px;
    
        @media screen and (min-width: 1200px) {
            margin-right: 40px;
            margin-bottom: 0px;
        }
    
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.02em;
        text-decoration: none;
        
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        color: $primaryTextColor;
        fill: $primaryTextColor;
        
        @media screen and (min-width: 1200px) {
            padding-top: 32px;
                padding-bottom: 32px;
            
            font-size: 14px;
            line-height: 1.14;
            
        }

        &:hover,
        &:focus {
            color: $acentTextColor;
            fill: currentColor;
        }
    }
    
    &__icon {
        margin-right: 8px;

        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }

        &--envelope {
            width: 14px;
            height: 10px;

            @media screen and (min-width: 1200px) {
                width: 16px;
                height: 12px;
            }
        }

        &--smartphone {
            width: 10px;
            height: 14px;

            @media screen and (min-width: 1200px) {
                width: 10px;
                height: 16px;
            }
        }
    }
}
    
    
        
    
            
    
            
