    .footer {
        
        background-color: $footerColor;
        padding-top: 60px;
        padding-bottom: 60px;

        &__container {
            max-width: 480px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            
            @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                min-width: 768px;
                align-items: baseline
            }
            @media screen and (min-width: 1200px) {
                
                max-width: 1200px;
                gap: 93px;
            }
        }
    }

    .footer-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $witheTextColor;

        margin-bottom: 20px;
        text-align: center;
        @media screen and (min-width: 1200px) {
                text-align: left;
            }
    }

    .footer-social  {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }