
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 999;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
        display: none;
        
    }

    &__button {
        position: absolute;
        top: 10px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        background-color: #fff;
        cursor: pointer;
        border: none;

        &:hover,
        &:focus {
            color: $acentTextColor;
        }
                @media screen and (min-width: 768px) {
                    display: none;
        
                }
    }

    &__nav {
        margin-bottom: 306px;
    }

    &__nav-item {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }


    }
    &__nav-link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        text-decoration: none;

        color: $titleTextColor;

        &:hover,
        &:focus {
            color: $acentTextColor;
        }
        &--current {
            color: $acentTextColor;
        }
    }
    
    &__contact-list {
        margin-bottom: 64px;
    }

    &__contact-item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__contact-link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.176;    
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color: $acentTextColor;
        @media screen and (min-width: 378px) {
            font-size: 34px;
            
        }
    }

    &__contact-link--mail {
        font-size: 24px;
        line-height: 1.116;
        letter-spacing: 0.02em;
        
        color: $primaryTextColor;
    }

    &__social-list {
        display: flex;
        
        flex-wrap: wrap;
        gap: 10px;
            justify-content: flex-start;
    }
    
    
    &__social-item {
        border-right: 1px solid rgba(33, 33, 33, .2);
        padding-right: 10px;
        margin-right: 10px;

        &:last-child {
            border: none;
            margin-right: 0;
            padding: 0;

        }
    }
    

    &__social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222px;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color: $acentTextColor;
    } 
}



.mobile-menu.is-open {
    transform: translateX(0);
}

