.clientage {
    display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        @media screen and (min-width: 1200px) {
                flex-wrap: nowrap;
            }
    
    
    &__item {
        width: 210px;
        height: 92px;

        @media screen and (min-width: 768px) {
            width: 226px;
        }
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
       
    }
        

    &__link {
        border: 1px solid $linkIconColor;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $linkIconColor;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        transition-property: fill, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $acentTextColor;
            border-color: $acentTextColor;
        }
    }
}