html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $mainPageColor;
    color: $primaryTextColor;
    font-family: Roboto, sans-serif;
}